
.card-queue {
	.athlete-card {
		transform: scale(0.97) translate(0, 12px);
		&.active {
			opacity: 0.7;
		}
	}
}

.card-queue,
.card-container {
	width: 350px;
	height: 77%;
	margin-left: 12px;
	margin-top: 12px;
	position: absolute;
}

.athlete-swiper {
	&__controls {
		position: absolute;
		bottom: 14%;
		width: 60%;
		margin-left: 20%;

		.athlete-card-button {
			position: absolute;
			&--accept {
				right: 0;
			}
			&--reject {
				left: 0;
			}
			&--info {
				left: 50%;
				top: 12px;
				margin-left: -13px;

			}
		}
	}

	&__counter {
		text-align: center;
		position: absolute;
		top: 81%;
		width: 100%;
		color: #888;
		font-size: 12px;
	}


}


@import "athlete-card.less";
@import "athlete-card-button.less";