

.athlete-card {
	.rounded-card-box();
	position: relative;
	left: 0;
	width: 100%;
	height: 90%;
	padding: 18px;
	transition: transform 0.2s, opacity 0.3s;
	opacity: 1;

	&--active {
		opacity: 1;
	}
	&--swiping {
		transition: none;
	}
	&--swipe-left {
		transform: translate3d(-150%, 0, 0) rotate(-10deg);
	}
	&--swipe-right {
		transform: translate3d(150%, 0, 0) rotate(10deg);
	}

	&__portrait {
		border-radius: 4px;
		width: 100%;
	}

	&__name {
		font-family: "AmsiProCond-Black";
		font-size: 18px;
		margin-bottom: 0;
		margin-top: -1px;
	}
	&__role {
		font-family: "AmsiProCond-BlackItalic";
		font-size: 16px;
		margin-bottom: 5px;
		@media (max-width: 320px) {
			margin-bottom: 3px;
		}
		margin-top: 0;
		color: #aaa;
		font-weight: normal;
	}
	.athlete-meter {
		@media (max-width: 320px) {
			margin-bottom: 2px;
		}
		@media (max-height: 460px) {
			display: none;
		}
	}
}
