.athlete-meter {
	height: 20px;
	background-color: white;
	margin-bottom: 4px;
	position: relative;
	border-radius: 4px;
	background-color: #efefef;
	box-shadow: inset -1px 1px 1px 0px rgba(0,0,0,0.2);

	&__label {
		color: black;
		font-weight: bold;
		position: absolute;
		font-size: 11px;
		line-height: 21px;
		padding-left: 4px;
	}

	&__value {
		border-radius: 4px;
		position: absolute;
		background-color: #7657ff;
		left: 0;
		top: 0;
		height: 100%;
		overflow: hidden; 
		.athlete-meter__label {
			color: white;
		}
	}
}
