@import (css) "../../external/framework7/css/framework7.ios.min.css";
@import (css) "../../external/framework7/css/framework7.ios.colors.min.css";
@import (css) "../../external/welcomescreen/welcomescreen.css";
@import (css) "../../external/minemoji/css/minEmoji.css";
@import "../../external/ionicons/css/ionicons.css";

@import "fonts.less";
@import "variables.less";
@import "mixins.less";




* {
	box-sizing: border-box;
}

a {
	color: @link-color;
}

.page-content {
	background: #efefef;
	overflow-y: auto;
	overflow-x: hidden;
}

.toolbar {
	height: 61px;
	background-color: white;
}

.loading-screen-preloader {
	width: 42px;
	height: 42px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -21px;
	margin-top: -21px;
}

.toggle-button {
	width: 53px;
	height: 20px;
	background-size: 100%;
	&--yes {
		background-image: url("../img/toggle-ja.png");
	}
	&--no {
		background-image: url("../img/toggle-nej.png");
	}
}

@import "navbar.less";
@import "intro.less";

@import "athlete-meter.less";
@import "athlete-swiper.less";
@import "athlete-profile.less";
@import "athlete-feed.less";
@import "athlete-list.less";
