<div class="athlete-feed-entry athlete-feed-entry--{{type}} {{#if breaking}}athlete-feed-entry--breaking{{/if}}">
	{{>athleteFeedEntryHeader target}}
	<div class="athlete-feed-entry__content">
		<div class="athlete-feed-entry__source"><span>{{data.event}}</span></div>
		<p>{{{formatSocialContent data.content}}}</p>
		{{#if unread}}
			<div class="athlete-feed-entry__new-indicator"></div>
		{{/if}}
		<div class="athlete-feed-entry__time athlete-feed-entry__time--live">
			{{time}}
		</div>
		{{>athleteFeedButtons .}}
	</div>

</div>
