<div class="athlete-meter">
	<div class="athlete-meter__label">{{label}}</div>
	<div class="athlete-meter__percent">{{value}}%</div>
	<div class="athlete-meter__value" style="width:{{value}}%">
		<div class="athlete-meter__label">{{label}}</div>
	</div>
</div>
