<div class="athlete-feed-entry-buttons">
	{{#if buttons.dr1}}
		<a href="http://www.dr.dk/" target="_blank" class="external button athlete-feed-button">Se med på <span class="athlete-feed-logo athlete-feed-logo--dr1"></span></a>
	{{/if}}
	{{#if buttons.p3}}
		<a href="http://www.dr.dk/" target="_blank" class="external button athlete-feed-button">Lyt med på <span class="athlete-feed-logo athlete-feed-logo--p3"></span></a>
	{{/if}}
	{{#if buttons.scribble}}
		<a href="http://www.dr.dk/" target="_blank" class="external button athlete-feed-button">Live Scribble <span class="athlete-feed-logo athlete-feed-logo--scribble"></span></a>
	{{/if}}
</div>
